<!-- <p>aboutus works!</p> -->
<app-nav></app-nav>
<h1>About Us</h1>
<img src="https://images.pexels.com/photos/2982449/pexels-photo-2982449.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="College Image" class="college-image">

<h2>About AICTE</h2>
<p>The All India Council for Technical Education (AICTE) is a statutory body and a national-level council for technical education, under the Department of Higher Education, Ministry of Education. It is responsible for proper planning and coordinated development of the technical education and management education system in India.</p>

<h2>College Departments</h2>
<p>Our college has several departments which includs</p>
    <ul>
        <li>Computer Science and Engineering</li>
        <li>Electrical and Electronics Engineering</li>
        <li>Electrical and Instrumentation Engineering</li>
        <li>Electronics and Communication Engineering</li>
        <li>Mechanical Engineering</li>          
        <li>Civil Engineering</li>
        <p>and more, each with dedicated faculty and state-of-the-art facilities.</p>    
    </ul> 

<h2>Research & Development</h2>
<p>Our R&D department is at the forefront of innovation, with numerous ongoing projects and collaborations with industry leaders and academic institutions worldwide.</p>

<h2>Placement</h2>
<p>We boast an excellent placement record, with top companies recruiting our graduates every year. Our dedicated placement cell works tirelessly to ensure that students get the best opportunities.</p>

<div class="sub-sections">
  <a routerLink="aicte">AICTE</a> |
  <a routerLink="college-departments">College Departments</a> |
  <a routerLink="research-development">Research & Development</a> |
  <a routerLink="placement">Placement</a>
</div>


<!-- <router-outlet></router-outlet> -->




